.container {
  display: flex;
  flex: 1 100%;
  padding: 5px 10px 0;
}

.relevance {
  color: gray;
  width: 1.2rem;
}

.section {
  display: flex;
  flex-direction: column;
  height:auto;
  width: 100%;
}

.row {
  display: flex;
  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.title {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  padding-right: 5px;
  @media (max-width: 800px) {
    display: flex;
  }
}

.icon {
  margin: 0 5px;
}

.url {
  font-size: 10px;
  color: gray;
}

.details {
  font-family: 'Maven Pro', sans-serif;
  font-size: 10px;
  color: var(--lightgray);
}

.hide {
  cursor: pointer;
}

.comments {
  cursor: pointer;
}
