<div class="container">
  <span class="relevance" *ngIf="rankId >= 0">{{ rankId + 1}}.</span>
  <fa-icon [icon]="story?.descendants ? faSortDown : faSortUp" class="icon"></fa-icon>
  <div class="section"> 
    <div class="row">
      <a href="javascript:void(0)" 
      (click)="openUrl()"
      class="title">{{ story?.title }}</a>

      <span class="url" *ngIf="story && story?.urlDomain">({{ story?.urlDomain }})</span>
    </div>
    <div class="row">
      <span class="details">
        {{ story?.score }} points by {{ story?.by }} |
        <span class="hide" (click)="hideStory()"> hide </span>
        <span class="comments" *ngIf="story?.kids && story?.kids?.length">| {{ story?.kids?.length }} comments</span>
      </span>
    </div>
  <div>
</div>
